<!DOCTYPE html>
<html lang="en">
 <head>
   <meta charset="UTF-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="main.css" > 
   <title style="background-color: blue;">Dinal Kenula</title>
   <style>
    body {
    background: linear-gradient(to bottom, #94f7c0 0%, #abe77a 100%);
  }

   </style>

 </head>
 <body>
   <nav class="navbar">

    <div class="logo"> <a href=""> DKCreations </a> </div>

     <ul class="nav-links">

       <input type="checkbox" id="checkbox_toggle" />
       <label for="checkbox_toggle" class="hamburger">&#9776;</label>
       <!-- NAVIGATION MENUS -->
       <div class="menu">
         <li><a href="{% url 'home'%}"></a></li>
         <li><a href="{% url 'historical' %}">Historical Places</a></li>
         <li><a href="{% url 'exotic'%}">Exotic Places</a></li>
         <li><a href="{% url 'blog'%}">Blog</a></li>


       </div>
     </ul>
  </nav>
  <br>

  <section class="bg-light text-center">
        <div class="hero-image">
      <div class="container-home container--narrow"><br>
      <h1 style="font-size: 7vw;"><span>Sri</span><span>Lanka</span></h1>
      <div class="main-header" style="font-size: 2vw;">
        <span>&#160;"Travel&#160; </span>
        <span>with&#160;</span>
        <span>no&#160;</span>
        <span>regret."&#160; </span><br>
          <br>


      </div>
    </div>
      <br><br>
    </div>

    </div>
  </section>

<p class="inset"></p>




   <div class="flex-container">

  <div class="flex-child magenta">
       <p style="font-size:1.7vw;"> <br><br>Sri Lanka has it all – a balmy tropical climate, dramatic sandy beaches backed by lush deep green forests that sway to the sound of bird song, high-altitude hill-top hideaways, a diverse array of wildlife and traditional working tea plantations.<br><br>
 ⚫ Are you looking for a holiday destination that will help you forget the daily rigours?<br>
              <br>Look no further: Sri Lanka, this tiny island nation shaped like a droplet of water just below the Indian peninsula, has much              to offer any passionate traveller. Don’t let its size deceive you;         Sri Lanka punches above its weight when it comes to tourism. </p>
  </div>

  <div class="flex-child green" >

    <img margin="1em" src="https://images.unsplash.com/photo-1544015759-237f87d55ef3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80.png" width="100%" alt="pic">

  </div>

</div>

   <section class="footer">

<p class="inset"></p>

      <ul class="list">

        <li>
          <a href="{% url 'home'%}">Home</a>
        </li>
        <li>
          <a href="{% url 'historical' %}">Historical Places</a>
        </li>
        <li>
          <a href="{% url 'exotic'%}">Exotic Places</a>
        </li>
        <li>
          <a href="{% url 'blog'%}">Blog</a>
        </li>
      </ul>
      <center> <h1>DKCreations</h1></center>
      <p class="copyright">Copyright © 2022 By DKCreations</p>
    </section>



 </body>
</html>
